
<div class="block-item-logo">

    <a ng-if="module.content.external_url"
       ng-href="{{module.content.external_url}}"
       link-target
       title="{{getTitle(module.content)}}"
       class="block-item-logo__item"
       ng-repeat="module in module.items">

        <span class="block-item-logo__media">
            <span class="block-item-logo__image-container animate-image">

                <image-responsive-db
                    alt="{{getAltText(module.content)}}"
                    common="false"
                    filter_name="'block_item_logo'"
                    module="module"
                    image="getImage(module.content, 'main_image')"
                    img_class="block-item-logo__image">
                </image-responsive-db>

            </span>
        </span>

        <span class="block-item-logo__content">

            <span class="block-item-logo__title"
                 ng-if="getTitle(module.content)"
                 ng-bind-html="getTitle(module.content)"></span>

        </span>

        <structured_data module="module"></structured_data>

    </a>

</div>
