/*/////////////////////////////////

    Block Item Usp

//////////////////////////////////*/

.block-item-logo {
    display: flex;
    flex-wrap: wrap;
}

.block-item-logo__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    width: 50%;

    @include respond-to(tablet) {
        margin-top: 40px;
        width: 33%;
    }

    @include respond-to(desktop) {
        @include animate-image-position();
        width: 25%;
    }
}

.block-item-logo__media {
    display: flex;
    height: 130px;
    position: relative;
    max-width: 50%;

    @include respond-to(tablet) {
        max-width: 100%;
    }
}

.block-item-logo__image-container {
    margin: auto;
}

.block-item-logo__image {
    position: relative;
    max-height: 100px;
    max-width: 100%;
    width: auto;
}

