
<div class="block-item-logo">

    <div class="block-item-logo__item">

        <div class="ghost block-item-logo__media"></div>

        <div class="block-item-logo__content">

            <div class="ghost__item-container">
                <div class="ghost__item big"></div>
            </div>

            <div class="ghost__item-container">
                <p class="block-item-logo__subtitle">
                    <span class="ghost__item"></span>
                </p>
            </div>

        </div>
    </div>

</div>
